/*/https://www.w3schools.com/html/html_responsive.asp*/
* {
      box-sizing: border-box;
      font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
      font-size: 16px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}
body {
      background-color: #435165;
}
.login {
      width: 400px;
      background-color: #ffffff;
      box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);
      
      border-radius: 6px;
      margin: 100px auto;
}
.login h1 {
      text-align: center;
      color: #5b6574;
      font-size: 22px;
      padding: 10px 0 10px 0;
      border-bottom: 1px solid #dee0e4;
}
.login form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 20px;
}
.login form label {
/*      display: flex;*/
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
/*      background-color: #3274d6;*/
      color: #ffffff;
}

.login form input[type="password"], .login form input[type="text"] {
    border-radius: 25px;
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 15px;
    padding: 0 15px;
    transition: background-color 0.5s;
}
.login form input[type="submit"] {
      width: 90%;
      padding: 15px;
      margin-top: 7px;
      margin-bottom: 15px;
      background-color: #3274d6;
      border: 0;
      cursor: pointer;
      font-weight: bold;
      border-radius: 6px;
      color: #ffffff;
      transition: background-color 1s;
}
.login form input[type="submit"]:hover {
    background-color: #042f66;
    transition: background-color 1.5s;
}



.navtop {
    background-color: #2f3947;
    height: 60px;
    min-width: 1000px;
    width: 100%;
    border: 0;
}
.navtop div {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}
.navtop div h1, .navtop div a {
    display: flex;
    display: inline-flex;
    align-items: center;
}
.navtop div h1 {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #eaebed;
    font-weight: normal;
}
.navtop div a {
    padding: 0 20px;
    text-decoration: none;
    color: #c1c4c8;
    font-weight: bold;
}
.navtop div a i {
    padding: 2px 8px 0 0;
}
.navtop div a:hover {
    color: #eaebed;
}
body.loggedin {
    background-color: #f3f4f7;
}
.content {
    width: 1000px;
    margin: 0 auto;
}
.content h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid #e0e0e3;
    color: #4a536e;
}
.content > p, .content > div, .content > table {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    margin: 15px 0;
    padding: 15px;
    background-color: #fff;
}
.content > p table td, .content > div table td {
    padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child {
    font-weight: bold;
    color: #4a536e;
    padding-right: 15px;
}
.content > div p {
    padding: 5px;
    margin: 0 0 10px 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    color: green;
    font-family: monospace;
    font-size: 22px;
    text-align: left;
}

th {
    background-color:  #2f3947;
    color: white;
}

tr:hover{
background-color:gray;
cursor:pointer;
}

tr: nth-child(even) {background-color: #f2f2f2;}

/*Modal part*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.deliveryModal {
  display: none; /* Hidden by default */
  position: fixed; /* fixed */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  min-width: 1152px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.addButton {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

.addButton:hover {
    background-color: #2868c7;
    transition: background-color 0.2s;
}

/*MAP PART*/
 /* Set the size of the div element that contains the map */
#map {
    height: 200px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}
